---
Language:        Cpp
BasedOnStyle:  Google
IndentWidth:     2
TabWidth:        2
ColumnLimit: 99
ContinuationIndentWidth: 4
AccessModifierOffset: -1  # The private/protected/public has no indent in class
Standard:  Cpp11 
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowAllParametersOfDeclarationOnNextLine: true
# BinPackParameters: false
# BinPackArguments: false
DerivePointerAlignment: false
PointerAlignment: Right

# clang-format 3.9+
SortIncludes: false
ReflowComments: true
...

